<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="form-group">
    <label for="typeRevenue">Tipo de Receita</label>
  
    <po-select
      name="typeRevenue"
      id="typeRevenue"
      p-label="Selecione uma opção"
      [p-options]="revenues"
       p-field-label="name"
       p-field-value="name"
      formControlName="typeRevenue"
    >
</po-select>

  </div>

  <div class="form-group">
    <po-number
    p-label="Valor"
    name="value"
    id="value"
    aria-describedby="value"
    autocomplete="off"
    formControlName="value"
    >
    </po-number>
  </div>
  <div class="form-group">
    <po-datepicker  id="dateEntry" onkeydown="return false" name="dateEntry" formControlName="dateEntry" aria-describedby="dateEntry" p-label="Data de Entrada"> </po-datepicker>
  </div>

  <div class="form-group">
    <div class="form-check">
      <po-checkbox name="fixedRevenue" formControlName="fixedRevenue" id="fixedRevenue"  value="fixedRevenue" p-label="Receita Fixa"> </po-checkbox>
    </div>
  </div>
  <po-button p-label="Adicionar Receita" (p-click)="submit()"> </po-button>
</form>
