<div class="container">
  <app-card-view>
    <app-months-debts></app-months-debts>
    <div *ngIf="!emptyResult && !loading">
    </div>
    <div class="btnPositionRight" >
      <po-button
      class="btn-default"
      p-kind="primary"
      p-label="Adicionar Divida"
      (p-click)="openDialog()"
      style="flex: 0 0 30%;"
      >
      </po-button>
    </div>
    <div class="center custom-position">
      <mat-spinner *ngIf="loading"></mat-spinner>
    </div>
    <po-table
    [p-columns]="columns"
    [p-height]="350"
    [p-selectable]="true"
    [p-items]="dataSource.data" 
    *ngIf="!loading && !emptyResult"
    [p-show-more-disabled]="false" 
></po-table>
    <ng-container *ngIf="emptyResult && !loading">
      <div class="container">
        <div class="center">
          <span>Você ainda não cadastrou dívidas para esse mês.</span>
        </div>
      </div>
    </ng-container>
  </app-card-view>
</div>
