<nav id="menu">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-12">
        <app-message-hour
          (messageHour)="getMessageHour($event)"
        ></app-message-hour>
        <ul class="float-left">
          <li class="mt-3">
            <po-link
              p-label=" Olá {{ showNameUser }}, {{ messageHour }} "
            ></po-link>
          </li>
        </ul>

        <ul class="display-flex-end">
          <li class="list-item">
            <po-avatar
              p-size="md"
              [p-src]="imageUserUrl ? imageUserUrl : isDefaultImage"
            >
            </po-avatar>
          </li>
          <li class="list-item mt-3">
            <po-link (p-action)="logout()" p-label="Sair"></po-link>
            <div>
              <po-loading-overlay [hidden]="isHideLoading"></po-loading-overlay>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
