nav {
  background-color: #c2c2c2;
  height: 85px;

  .float-left {
    float: left;
  }

  .display-flex-end {
    display: flex;
    justify-content: flex-end;
  }

  @media screen and (min-width: 375px) {
    ul {
      flex-direction: column;
    }
  }

  @media screen and (min-width: 1140px) {
    ul {
      flex-direction: row;
    }
  }

  li {
    list-style: none;
  }
  a {
    color: white;
    text-decoration: none;
  }

  a:hover {
    color: white;
    cursor: pointer;
  }

  po-link {
    --text-color: #000000;
    --text-color-visited: #080f78;
    }

}
